.blog {margin-bottom: 155px;}
.blog h2{
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  max-width: 700px;
  margin-bottom: 115px;
}

.blog_article-container {
  display: grid;
  grid-template-columns: minmax(420px, 1fr) minmax(330px, 1fr) minmax(330px, 1fr);
  gap: 49px;
}