.blog {margin-bottom: 155px;}
.blog h2{
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  max-width: 700px;
  margin-bottom: 115px;
}

.blog_article-container {
  display: grid;
  grid-template-columns: minmax(420px, 1fr) repeat(auto-fit, minmax(330px, 1fr));
  gap: 49px;
}

@media screen and (max-width: 800px) {
  .blog_article-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog_article-container > .featured {
    grid-column: span 2;
  }
}