.footer {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.footer-cta {
  --spacer: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 180px;
}

.footer-cta h2 {
  max-width: 800px;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.footer-cta button {
  background: none;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #FFFFFF;
  padding: 1rem 2rem;
  cursor: pointer;
}

.footer-cta button:hover,
.footer-cta button:focus-visible {
  color: var(--color-bg);
  background-color: #fff; 
}

.footer-nav {
  --spacer: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  width: 100%;
  padding-inline: 75px;
}

.footer-nav_logo {
  max-width: 168px;
}

.footer-nav_logo img {
  min-width: 120px;
  height: 30px;
  margin-bottom: 25px;
}

.footer-copywrite {
  margin-top: 80px;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (max-width: 800px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-nav_logo {
    grid-column: span 3;
    margin-bottom: 80px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 500px) {
  .footer-cta {
    margin-block: 60px;
  }
  
  .footer-cta h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .footer-nav {
    --spacer: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-nav_company {
    margin-left: 1rem;
  }

  .footer-nav_contact {
    grid-column: span 2;
    margin-top: 3rem;
    text-align: center;
  }
  
}





